---
import Section from "./Section.astro";
---

<Section id="about-hero">
  <div class="py-20">
    <div class="relative flex flex-col-reverse items-center md:flex-row" id="hero">
      <div class="row items-center py-5 md:w-6/12 md:pb-20 md:pt-10">
        <div class="text-left space-y-3">
          <h1 class="text-4xl font-medium leading-none md:text-6xl text-center md:text-left text-primary">关于 Spark</h1>
          <p class="mt-6 mb-8 text-lg font-normal leading-7 sm:mb-12 text-center md:text-left md:pr-12 text-primary">
            我不仅仅是一个YouTuber，更是一个充满热情的理财教育者和终身学习者。
          </p>
        </div>
      </div>
      <div class="flex items-center py-5 md:w-6/12 md:pb-20 md:pt-10">
        <div class="w-full h-64 bg-gray-200 rounded-lg flex items-center justify-center">
          <span class="text-gray-500 text-lg">500 × 500</span>
        </div>
      </div>
    </div>
  </div>
</Section> 