---
import Section from "./Section.astro";
import { Image } from "astro:assets";
import HeroIlust from "../../assets/pics/hero.svg";
---

<Section id="home">
<div class="relative flex flex-col-reverse items-center md:flex-row" id="hero">
    <div class="row items-center py-5 md:w-6/12 md:pb-20 md:pt-10">
        <div class="text-left space-y-3">
            <h1 class="text-4xl font-medium leading-none md:text-6xl text-center md:text-left text-primary">Spark Liang<br>官方网站</h1>
            <p class="mt-6 mb-4 text-lg font-normal leading-7 text-center md:text-left md:pr-12 text-primary">你的理财引路人，只在这里找到最真实的我。</p>
            <p class="mb-8 text-lg font-normal leading-7 sm:mb-12 text-center md:text-left md:pr-12 text-primary">认准官方渠道，与我一起安全理财。</p>
            <div class="w-full justify-center md:justify-start items-center inline-flex gap-4">
                <a href="/fraud-prevention" class="px-8 py-5 bg-primary hover:bg-accent rounded-2xl text-center text-white border text-xl font-normal leading-7 transition-all duration-200">防诈骗中心
                </a>
                <a href="/about" class="px-8 py-5 bg-transparent hover:bg-primary rounded-2xl text-center text-primary hover:text-white border border-primary text-xl font-normal leading-7 transition-all duration-200">了解更多
                </a>
            </div>
        </div>
    </div>
    <div class="flex items-center py-5 md:w-6/12 md:pb-20 md:pt-10">
        <Image src={HeroIlust} alt="Hero Ilustration" loading="eager" />
    </div>
</div>
</Section>