---
import Accordion from "../ui/Accordion.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";

const description = "详细的步骤指南，帮助您实现目标";
---

<Section id="process">
  <div class="mt-20">
    <SectionTitle
      sectionTitle="工作流程"
      description={description}
    />
    <Accordion />
  </div>
</Section>