---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="页面未找到 - Spark官方网站">
	<main class="space-y-20">
        <div class="relative flex flex-col-reverse items-center justify-center md:flex-row" id="hero">
            <div class="row items-center py-5 md:pb-20 md:pt-10">
                <div class="justify-center flex py-5">
                    <img src="/404.svg" width="50%" alt="页面未找到"/>
                </div>
                <div class="text-center space-y-10">
                    <h2 class="text-2xl font-medium leading-none md:text-4xl text-primary">抱歉，我们找不到您要访问的页面</h2>
                    <a class="px-9 py-5 bg-primary hover:bg-accent text-white border rounded-2xl justify-items-center md:justify-items-start gap-2.5 inline-flex transition-colors duration-200" rel="noopener noreferrer"  href="./">
                        <h2 class="text-center text-xl font-normal leading-7">返回首页</h2>
                    </a>
                </div>
            </div>
        </div>
	</main>
</MainLayout>