---
import MainLayout from "../layouts/MainLayout.astro";
import ContactSection from "../components/sections/Contact.astro";
---

<MainLayout 
  title="联系我 - Spark官方网站"
  description="通过Instagram与Spark聊天，或填写商业合作表单。多种方式联系Spark，获得专业的理财指导和合作机会。"
>
  <main class="pt-20">
    <ContactSection />
  </main>
</MainLayout> 